<div class="mx-auto">
    <h1 class="text-center"> Správa aplikace </h1>
</div>

<div class="row">
    <div class="col">
        <p class="text-center"> Zde je plocha pro zobrazení statistik, grafů, tabulek a dalších informačních dat. </p>
    </div>
</div>

