<div class="row">
    <div class="col">
        <h1 class="text-center"> Tato stránka nebyla nalezena </h1>
        <p class="text-center"> <i class="material-icons icon-large text-warning"> warning_amber </i></p>
        <p class="text-center"> @ViewBag.Message </p>
        <div class="row">
            <div class="col-4 offset-4">
                <a class="btn bg-primary-btn full-width-button" asp-action="Index" asp-controller="Home"> Zpět do aplikace </a>
            </div>
        </div>
    </div>
</div>





