<div class="row">
    <div class="col"></div>
    <div class="col-8 mx-auto text-justify">
        <h1 class="text-center"> Chyba 404 </h1>
        <h3 class="text-center" style="margin-top: 5vh; font-family:'Segoe UI'"> @ViewBag.Message </h3>
        <div class="text-center" style="margin-top: 3vh;">
            <a class="btn btn-primary" style="color: white;" asp-action="Index" asp-controller="Home"> Zpět do aplikace </a>
        </div>
    </div>
    <div class="col"></div>
</div>




