<div class="row">
    <div class="col">
        <h1 class="text-center"> Nedostatečné oprávnění </h1>
        <p class="text-center"> <i class="material-icons icon-large text-danger"> report </i> </p>
        <p class="text-center"> Omlouváme se, ale nemáte dostatečné oprávnění k zobrazení této stránky. </p>
        <p class="text-center">Pokud si myslíte, že jde o chybu, kontaktujte administrátora.</p>
    </div>
</div>

