<div class="row loginPage">
    <div class="col-10 offset-1 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        }
        <h1 class="text-center"> Přihlášení do systému </h1>
        <form method="post" action="/Account/Login">
            <div class="form-group row">
                <div class="col-12 input-box">
                    <input type="email" name="username" placeholder="Váš e-mail" class="form-control input-field" />
                </div>
                <div class="col-12 input-box">
                    <input name="password" type="password" placeholder="Vaše heslo" class="form-control input-field" />
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <button class="btn bg-info" type="submit" name="submit" value="login"> Přihlásit </button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col text-center justify-content-center" style="padding-top: 3vh">
        <a asp-action="Register" asp-controller="Account" title="Přejít na stránku s registrací"> Nemáte účet? Registrujte se.</a>
    </div>
    <div class="col"></div>
</div>



