<div class="row">
    <div class="col">
        <h1 class="text-center"> O Aplikaci </h1>
        <p class="text-center long-text margin-top-30">
            Aplikace nabízí možnost nahrávat CSV soubory se specifickou strukturou. Velkou výhodou při použití aplikace je filtrování v nahraných souborech.
            Samozřejmostí je možnost skladování souborů v databázi aplikace.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="author-pic" src="~/images/usericon.png" />
        <div class="row">
            <div class="col-6 offset-3">
                <h3 class="text-center text-capitalize bg-dark text-white margin-top-10"> jan kočvara </h3>
                <p class="text-center long-text margin-top-30">
                    Autorem aplikace je Jan Kočvara, student Provozně ekonomické fakulty, která je součástí České zemědělské univerzity v Praze.
                    Vývoj aplikace začal v první polovině roku 2020, ve formě bakalářské práce.
                </p>
            </div>
        </div>

    </div>
</div>