@{
    ViewData["Title"] = "Home Page";
}

    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="text-center">
                <h1 class="display-4">Databáze chemických vzorků</h1>
                <p> Stav připojení k DB: @ViewBag.Message</p>
            </div>
        </div>
       
    </div>

    <div class="row">

    </div>
