@{
    ViewData["Title"] = "Home Page";
}

    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="text-center">
                <h1 class="display-4">Databáze chemických vzorků</h1>
                <p> Stav připojení k DB: @ViewBag.Message</p>
            </div>
        </div>
       
    </div>

    <div class="row">

    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Provést prvotní nastavení aplikace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center"> Nebylo provedeno úvodní nastavení. Je doporučeno nastavit účet s možnostmi administrátora, než budete pokračovat dále do aplikace. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit akci</button>
                    <a class="btn btn-success js_removeRecordButton" asp-action="Index" asp-controller="Setup"> Přejít k nastavení </a>
                </div>
            </div>
        </div>
    </div>
@{ 
    if(ViewBag.IsAdminCreated == false)
    {
        <script>
            $(document).ready(function () {
                $('#exampleModalCenter').modal('show');
            });
        </script>
    }
}

