.active {
    background-color: #6a6d6f;
    border-radius: 20px;
}

.nav-item {
    min-width: 100px;
    text-align: center;
    margin: 0px 5px;
}


.nav-link {
    padding: .4rem 1rem;
}

.icon-large{
    font-size: 120px !important;
}

.long-text {
    line-height: 30px;
}

.author-pic{
    width: 30%;
    border-radius: 360px;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homepage-box {
    width: 90%;
    margin: 10px;
    min-height: 300px;
    border: 2px solid #212529;
    border-radius: 20px;
}

    .homepage-box-header {
        text-align:center;
        min-height: 200px;
        border-bottom: 0.5px solid black;

    }

    .homepage-box-header i{
        font-size: 200px;
    }

    .homepage-box-body {
        margin: 10px;
        text-align: center;
        vertical-align: middle;
    }

.homepage-box-logo {
    font-size: 120px;
    font-family: arial;
    text-align: center;
    color: #212529;
}