.active {
    border-bottom: 5px solid #6197f7;
}

.nav-item {
    min-width: 80px;
    text-align: center;
    margin: 0px 5px;
}


.nav-link {
    padding: .4rem 1rem;
}

.icon_signOut{
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

